.container{
height:100vh;
width:100vw;
}
.overlay{
  height:100vh;
  width:100vw;
  background: rgb(0, 0, 0);
  opacity:0.54;
}
.sub-container{
  height:400px;
  width:70%;
  position:absolute;
  top:50%;
  left:40%;
  transform:translate(-40%,-50%);
  background:#f4f5f6;
  padding:16px 32px 16px 32px;
  overflow-y: auto;
}
.title{
  text-transform: capitalize;
  margin-bottom:0px;
  margin-top:0px;
  color: #41A9B1;
}
.tab-container{
  display:flex;
  flex-wrap: wrap;
}

.button{
  padding:0px 16px 0px 16px;
  border-radius:32px;
  margin-right: 16px;
  margin-top:16px;
  background:#D9D9D9;
}

.button p{
  text-transform: capitalize;
  margin: 8px 0px 8px 0px;
  font-weight:500;
  color: #2c2c31;
}

#submit{
  position:absolute;
  left:32px;
  padding:16px;
  font-weight: 600;
  font-size:18px;
  letter-spacing: 1px;
  color: #41A9B1;
  cursor: pointer;
  background:#D9D9D9;
  padding:8px 16px;
}

#cancel {
  position:absolute;
  right:32px;
  padding:16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #41A9B1;
  font-size:18px;
  cursor: pointer;
  background:#D9D9D9;
  padding:8px 16px;
}

.details-title{
  color: #41A9B1;
  font-size: 18px;
  font-weight:500;
  text-transform: capitalize;
  margin-top:20px;
  margin-bottom:20px;
  border-bottom: 2px solid #D9D9D9;
  display: inline-block;
  
}

.attachment-flex{
  display:flex;
  flex-wrap: wrap;
}

.image-name{
  margin-left:8px;
  padding:0px 16px;
  background: #D9D9D9;
  font-size:12px;
  font-weight:500;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:0px;

}

#attachments{
  font-weight:600;
  margin-top:0px;
  margin-bottom:20px;
}

.remarks{
  display:flex;
}

.remarks p{
  margin:0px;
  font-weight:600;
  margin-right:8px;
}

.remarks textarea{
  margin-left:32px;
  height:80px;
  width:50%;
}

.radio{
  display:flex;
  margin-top:20px;
}
.radio p{
  margin-top:0px;
  font-weight: 600;
  margin-right:40px;
  margin-bottom:0px;
}
.radio input{
  margin:6px;
}

